<nav class="navbar navbar-custom">
    <div class="container-fluid mt-5">
       
        <div class="row container-fluid">
       
            <div class="col-5">
                <h1>重点管理不良特性一覧</h1>
            </div>

<!-- Display only the active button which indicates the shift -->
            <div class="col-3">
                <a href="#" class="btn btn-success" ><h3>普</h3></a>

                <a href="#" class="btn btn-success"><h3>1s</h3></a>

                <a href="#" class="btn btn-success"><h3 >2s</h3></a>

                <a href="#" class="btn btn-success"><h3 >3s</h3></a>
            </div>
<!-- Display only the active button which indicates the shift -->

            <div class="col-1 ms-auto">
                <a href="#" class="btn btn-primary" style="height:70%; width:100%" > <h2>登録</h2> </a>
            </div>
                <!-- <a href="/defective/all" class="btn btn-primary" style="height:100%; width:40%"><h3>設備選択</h3> </a> -->
                
            <div class="dropdown col-2" >
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
                data-bs-toggle="dropdown" aria-expanded="false"   style="height:70%; width:100%">
                    <h3>設備選択</h3> 
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton" style="text-align: center;">
                    <li><a class="dropdown-item" href="/defective/main_1">穴加工機</a></li>
                    <li><a class="dropdown-item" href="/defective/main_2">ブッシュ圧入</a></li>
                    <li><a class="dropdown-item" href="/defective/main_3">穴仕上げ</a></li>
                    <li><a class="dropdown-item" href="/defective/main_4">ボーリング</a></li>
                    <li><a class="dropdown-item" href="/defective/main_5">端面研削</a></li>
                    <li><a class="dropdown-item" href="/defective/main_6">外観検査</a></li>
                    <li><a class="dropdown-item" href="/defective/main_7">油穴加工機</a></li>
                    <li><a class="dropdown-item" href="/defective/main_8">斜面加工</a></li>
                    <li><a class="dropdown-item" href="/defective/main_9">最終計測</a></li>
                    <li><a class="dropdown-item" href="/defective/main_10">カメラ検査</a></li>
                    <li><a class="dropdown-item" href="/defective/main_11">外周ニガシ</a></li>
                </ul>
                </div>

                <div class="col-1">
                    <a href="/defective" class="btn btn-primary" style="height:70%; width:100%"> <h2>戻る</h2> </a>
                </div>
            </div>
    </div>

</nav>